@model List<Dog>

@{
    ViewData["Title"] = "Add Dog Page";
}

<div class="text-center">
    <h1 class="display-4">Dog creator</h1>
    <p>Number of Dogs: @Model.Count</p>
    <form asp-action="createRandomDog" method="post" style="margin-bottom: 5px;">
        <button type="submit">Create a new random dog</button>
    </form>
    <form asp-action="addDogManually" method="get" style="border: 5px solid beige; margin-bottom: 5px;">
        <label for="name" style="margin-right: 5px;">
            <h1>Name:</h1>
        </label><input type="text" name="name" id="name" required><br>
        <label for="age" style="margin-right: 5px;">
            <p>Age:</p>
        </label><input type="number" name="age" id="age" min="1" required><br>
        <label for="breed" style="margin-right: 5px;">
            <p>Breed:</p>
        </label>
        <select name="breed" id="breed" required>
            @foreach (var breed in (List<string>)ViewData["Breeds"])
            {
                <option>@breed</option>
            }
        </select>
        <br><button type="submit" style="margin-bottom: 5px;">Create a new dog</button>
    </form>
    @if (Model.Count > 0)
    {
        foreach (var dog in Model)
        {
            <form asp-action="EditDog" method="get" style="border: 5px solid beige; margin-bottom: 5px;">
                <h2>Name: @dog.Name</h2>
                <input type="text" name="name" value="@dog.Name" hidden>
                <p>Age: @dog.Age</p>
                <input type="number" name="age" value="@dog.Age" hidden>
                <p>Breed: @dog.Breed.Name</p>
                <input type="text" name="breed" value="@dog.Breed.Name" hidden>
                <button type="submit" style="margin-bottom: 5px;">Edit</button>
                <button type="button" class="delete-dog-button" style="margin-bottom: 5px;" data-name="@dog.Name"
                    data-age="@dog.Age" data-breed="@dog.Breed.Name">Delete</button>
            </form>
        }
    }
    <script>
        [...document.getElementsByClassName('delete-dog-button')].forEach(button => {
            button.addEventListener('click', deleteDog);
            function deleteDog() {
                const reqHeader = new Headers({ 'Content-Type': 'text/json' });
                const data = {
                    name: button.dataset.name,
                    age: button.dataset.age,
                    breed: {
                        name: button.dataset.breed
                    }
                };
                const initObject = {
                    method: 'DELETE',
                    headers: reqHeader,
                    body: JSON.stringify(data)
                };
                const userRequest = new Request('../api/dog/deleteDog', initObject);
                fetch(userRequest)
                    .then(function (response) {
                        if (response.ok) {
                            window.location.href = '/';
                        }
                    })
                    .catch(function (err) {
                        console.log("Something went wrong!", err);
                    });
            }
        });
    </script>
</div>
